CUSTOMER_ERP_DOMAIN=hrms.example.com
CUSTOMER_BRAND_NAME=Fateh HR
CUSTOMER_PRIMARY_COLOR=#2E5D5A
CUSTOMER_LOCALE=en
CUSTOMER_SELFIE_MODE=first
CUSTOMER_BUILD_TARGET=web
CUSTOMER_DEV_PROXY=http://94.136.186.151
